doctype html
html
  head
    title= title
    link(rel='stylesheet' href='libs/api-common/src/lib/public/css/style.css')
    link(rel='shortcut icon' type='image/png' href='libs/api-common/src/lib/public/img/logo.png')

  body
    h1= message
    p This is new pug template
